:root {
    --font-sans: "Inter", sans-serif;
    --bg-dark: oklch(14.7% .004 49.25);
    --bg-light: oklch(99.4% .00132 106);
    --text-muted: oklch(55.3% .013 58.071);
    --dark-headings:oklch(92.3% .003 48.717);
    --border: oklch(100% 0 0 / .13);
    --spacing: 0.25rem;
    --gray-1: #111;
    --gray-2: #191919;
    --gray-3: #222;
    --gray-4: #2a2a2a;
    --gray-5: #313131;
    --gray-6: #3a3a3a;
    --gray-7: #484848;
    --gray-8: #606060;
    --gray-9: #6e6e6e;
    --gray-10: #7b7b7b;
    --gray-11: #b4b4b4;
    --gray-12: #eee;
}


.box{
    padding: 10px;
    border-radius: var(--spacing);
}


.gap-8{
    gap: calc(var(--spacing) * 8);
}

.gap-3 {
    gap: calc(var(--spacing) * 3);
}

body{
    background-color: var(--bg-dark);
}

.mx-auto{
    margin: auto;
    margin-top: 64px;
    margin-bottom: 64px;
    border: 1px solid white;
}

.container{
    max-width: 650px;
    padding: 0 24px;
}

.nav-container{
    height: 40px;
    border-bottom: 0.5px solid var(--border);
}

.nav-link{
    text-decoration: none;
}

.items-center{
    align-items: center;
}

.justify-between{
    justify-content: space-between;
}

.flex{
    display: flex;
}

.flex-col{
    flex-direction: column;
}

.text-muted{
    color: var(--text-muted);
}

.font-medium{
    color: var(--dark-headings);
    font-family: var(--font-sans);
    font-size: 2em;
}

.grid{
    display: grid;
}

.flex-grow, .grow {
    flex-grow: 1;
}

.grid-cols-1 {
    grid-template-columns: repeat(1, minmax(0, 1fr));
}

@media (min-width: 768px) {
    .md\:grid-cols-2 {
        grid-template-columns: repeat(2, minmax(0, 1fr));
        max-width: 70%;
    }
}


/* connect section */

.ul-box{
    background-color: var(--gray-2);
}

.social-grid{
    list-style-type: none;
}

.text-decoration-none{
    text-decoration: none;
}


.text-ul, .material-symbols-outlined {
    font-size: 1.25rem;
}