:root {
    --font-sans: "Inter", sans-serif;
    --bg-dark: oklch(14.7% .004 49.25);
    --bg-light: oklch(99.4% .00132 106);
    --text-muted: oklch(55.3% .013 58.071);
    --dark-headings:oklch(92.3% .003 48.717);
    --border: oklch(100% 0 0 / .13);
    --spacing: 0.25rem;
}

.gap-8{
    gap: calc(var(--spacing) * 8);
}

body{
    background-color: var(--bg-dark);
}

.mx-auto{
    margin: auto;
    margin-top: 64px;
    margin-bottom: 64px;
    border: 1px solid white;
}

.container{
    max-width: 650px;
    padding: 0 24px;
}

.nav-container{
    height: 40px;
    border-bottom: 0.5px solid var(--border);
}

.nav-link{
    text-decoration: none;
}

.items-center{
    align-items: center;
}

.justify-between{
    justify-content: space-between;
}

.flex{
    display: flex;
}

.flex-col{
    flex-direction: column;
}

.text-muted{
    color: var(--text-muted);
}

.font-medium{
    color: var(--dark-headings);
    font-family: var(--font-sans);
    font-size: 2em;
}

